.portfolioPage {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  width: 100%;
}
