.contactForm {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
}

.contactForm input,
.contactForm textarea {
    margin-bottom: 10px;
    padding: 10px;
}

.contactForm button {
    background-color: #004d99;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}