.heroSectionHome,
.heroSectionPortfolio,
.heroSectionAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

.heroOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
  width: 60%;
  border-radius: 10px;
}

.heroOverlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heroOverlay p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .heroOverlay {
    width: 80%;
  }

  .heroOverlay h1 {
    font-size: 2rem;
  }

  .heroOverlay p {
    font-size: 1.25rem;
  }
}
